@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gd3efx');
  src:  url('../fonts/icomoon.eot?gd3efx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gd3efx') format('truetype'),
    url('../fonts/icomoon.woff?gd3efx') format('woff'),
    url('../fonts/icomoon.svg?gd3efx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconm-"], [class*=" iconm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconm-git-square:before {
  content: "\f1d2";
}
.iconm-creative-commons:before {
  content: "\e900";
}
.iconm-envelope-o:before {
  content: "\e901";
}
.iconm-print:before {
  content: "\e902";
}
.iconm-tags:before {
  content: "\e903";
}
.iconm-calendar:before {
  content: "\e904";
}
.iconm-github-alt:before {
  content: "\e905";
}
.iconm-home:before {
  content: "\e906";
}
.iconm-newspaper:before {
  content: "\e907";
}
.iconm-quill:before {
  content: "\e908";
}
.iconm-blog:before {
  content: "\e909";
}
.iconm-image:before {
  content: "\e90d";
}
.iconm-camera:before {
  content: "\e90f";
}
.iconm-play:before {
  content: "\e912";
}
.iconm-bullhorn:before {
  content: "\e91a";
}
.iconm-compass2:before {
  content: "\e94a";
}
.iconm-user:before {
  content: "\e971";
}
.iconm-users:before {
  content: "\e972";
}
.iconm-user-tie:before {
  content: "\e976";
}
.iconm-arrow-right:before {
  content: "\ea34";
}
.iconm-arrow-left:before {
  content: "\ea38";
}
.iconm-embed2:before {
  content: "\ea80";
}
.iconm-share2:before {
  content: "\ea82";
}
.iconm-google-plus:before {
  content: "\ea8b";
}
.iconm-facebook2:before {
  content: "\ea91";
}
.iconm-twitter:before {
  content: "\ea96";
}
.iconm-rss:before {
  content: "\ea9b";
}
.iconm-github:before {
  content: "\eab0";
}
.iconm-skype:before {
  content: "\eac5";
}
.iconm-file-pdf:before {
  content: "\eadf";
}
.iconm-html-five:before {
  content: "\eae4";
}
