<div class="posts list">
  {% for post in site.posts %}
  {% if post.authors contains page.title %}
  <div class="post">
    <h3 class="post-title">
      <a href="{{ site.url }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h3>
  {{ post.description | markdownify | remove: '<p>' | remove: '</p>' }}
  <a href="{{ site.url }}{{ post.url }}" class="readmore">lire la suite</a><br>

  {% if post.modified.size > 2 %}
  <span class="post-date" itemprop="dateModified" content="{{ post.modified | date: "%Y-%m-%d" }}"><i class="fa fa-edit" title="Last updated"> {{ post.modified | date_to_string }}</i> {% if post.category contains "featured" %}<a href="{{ site.url }}/featured" title="Featured posts"><i class="fa fa-paperclip" title="Featured" class="social-icons"></i></a>{% endif %}</span>
  {% else %}
  <span class="post-date" itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}"><i class="fa fa-calendar" title="Date published"> {{ post.date | date_to_string }}</i> {% if post.category contains "featured" %}<a href="{{ site.url }}/featured" title="Featured posts"><i class="fa fa-paperclip" title="Featured" class="social-icons"></i></a>{% endif %}</span>
  {% endif %}

  <span class="post-tags">
  {% for tag in post.categories %}
    {% if forloop.first %}
      <i class="fa fa-tags" title="page tags"></i>
    {% endif %}
    {{ tag }}
    {% unless forloop.last %} &bull; {% endunless %}
  {% endfor %}</span>
  
  </div>
  {% unless forloop.last %}<hr class="transp">{% endunless %}

  {% endif %}
  {% endfor %}
</div>


