<div class="custom-footer" style="display: block;">
<h6 class="text-footer">
<a rel="license" href="{{ site.url }}/disclosure/" title="CC BY-NC-SA 4.0 License, link to site disclosure" class="social-icon"><i class="fa fa-creative-commons"></i></a> 
<a rel="license" href="{{ site.url }}/disclosure/" title="CC BY-NC-SA 4.0 License, link to site disclosure">2016-{{ site.time | date: '%Y' }}</a>
 - <a href="{{ site.url }}" title="Home">les Crapauds Fous</a>
 - <a href="{{ site.url }}/apropos/" rel="me">c'est quoi ça?</a>
<span>
<a href="{{ site.github }}" rel="me"><i class="fa fa-github"> </i></a>
<a href="{{ site.url }}/feed.xml" rel="me"><i class="fa fa-rss"> </i></a>
</span>
</h6>
</div>
