<span class="social-icons">
{% if site.owner.twitter %}
<a href="https://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.owner.twitter }}"  class="social-icons" target="_blank" title="Partager sur twitter"> <i class="fa fa-twitter meta"></i></a>
{% endif %}

{% if page.comments %}
<a href="{{ site.url }}{{ page.url }}#disqus_thread" class="social-icons" title="Commentaires"><i class="fa fa-comments"></i></a>
{% endif %}
{% if page.category contains "featured" %}<a href="{{ site.url }}/featured" title="Featured posts"><i class="fa fa-paperclip" title="Featured" class="social-icons" style="vertical-align: top;"></i></a>{% endif %}
<a href="javascript:window.print()" class="social-icons" title="Format imprimable"><i class="fa fa-print"></i></a>
</span>
