---
layout: default
linktitle: "Crapauds  <i class=\"iconm iconm-user\"> </i>"
linkurl: /crapauds/
---

<div class="page crapaud">
  {% if page.twitter %}<a href="https://twitter.com/{{ page.twitter }}" class="crap-social"><i class="iconside iconm-twitter"> </i></a>{% endif %}
  {% if page.linkedin %}<a href="{{ page.linkedin }}" class="crap-social"><i class="iconside iconm-linkedin2"> </i></a>{% endif %}
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.description %}
  <div class="description">{{ page.description}}</div>
  {% endif %}
  {% if page.photo %}
  <img src="{{ site.urlimg }}/profiles/{{ page.photo }}" class="photo" width="256" height="256" />
  {% endif %}
  {{ content }}

  <hr class="">
  {% include crapaud_posts.html %}

</div>


{% unless page.hide_printmsg == true %}
  {% include printmsgpages.html %}
{% endunless %}

<div class="page-break"></div>
{% if site.disqus_shortname and page.comments == true %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %}
