---
layout: default
linktitle: "Partenaires <i class=\"iconside iconm-user-tie\"> </i>"
linkurl: /partenaires/
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.authors %}
  <div class="authors">par {{ page.authors }}</div>
  {% endif %}
  {{ content }}
</div>

{% unless page.hide_printmsg == true %}
  {% include printmsgpages.html %}
{% endunless %}

<div class="page-break"></div>
{% if site.disqus_shortname and page.comments == true %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %}
